{% extends "orders/base.html" %}

{% block title %}
Pinocchio's pizza place
{% endblock %}

{% block body %}
<h1><span id=a>Pinocchio's</span><span id =pi> Pizza</span><span id=pl> place</span></h1>
{% load static %}

<div  id="text1" class="container">
  <p class="text-center">Noch's has been in business for over 50 years! We've been feeding Harvard and the surrounding area since 1966!
  We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 750 reviews on Yelp--- check it out!</p>
  <p class="text-center">***** April 6th,2020 UPDATE *****</p>

  <p class="text-center">Pinocchio's will now be closing every night at 9:00 pm following the recommended curfew set forth by Mayor Walsh. All orders must be for takeout......you can continue to come in to the shop to order or call in.
  For delivery you can continue to do so thru Grubhub, Doordash and Postmates.....get your orders in by 8:00.
  Our wishes to everyone to stay safe....maintain social distance and wash your hands!!!!</p>
  <div class="text-center">
  <img src="{% static "orders/pinocchio's.jpg" %}"class="rounded" alt="Pinocchio's">
  </div>

</div>


{% endblock %}
